.container {
	display: flex;
	justify-content: space-evenly;
}

.content {
	width: 65%;
}

section {
	overflow: auto;
}

section#about section, section#founders section {
	margin-bottom: 3rem;
}

section img {
	height: 300px;
	float: right;
}

aside {
	position: sticky;
	top: 0;
	width: 20%;
	align-self: flex-start
}

aside > section > img {
	width: 100%;
	height: 165px;
	border-radius: 8px;
	object-fit: cover;
	margin-bottom: 0.5rem;
}