.jumbotron {
	margin-top: 80px;
	height: calc(80vh);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap
}

.jumbotron > section > h1 {
	font-size: 62px;
	text-transform: uppercase;
}

.jumbotron > section > p {
	font-size: 24px;
	opacity: 0.5;
}

ul.jumbotron__exchange {
	display: flex;
	gap: 2rem;
	justify-content: flex-start;
	padding: 0;
}

ul.jumbotron__exchange > li {
	list-style-type: none;
}

ul.jumbotron__exchange > li > img {
	width:  100px;
	height: 100px;
	object-fit: scale-down;
	filter: grayscale(100);
	cursor: pointer;

	transition: 0.4s;
}

ul.jumbotron__exchange > li > img:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}